:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-text-color: #000000;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-text-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.list {
  list-style: none;
}
.site-nav a {
  color: #000000;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-text-color);
}

/* nav-title */
.nav-title a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-title a:hover,
.nav-title a:focus {
  color: var(--accent-text-color);
}
/* Section */
.section-title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.button {
  color: var(--accent-text-color);
}

.button:hover,
.button:focus {
  color: var(--accent-text-color);
}
/* Цвет основного текста color: ;#757575  */
/* вторичный цвет текста */
#212121
/* белый цвет #FFFFFF */
/* акцент #2196f3 */
/* втоичный цвет фона #E5E5E5 */
/* третий цвет фона #F5F4FA */

.team-work {
  font-size: 16px;
  line-height: 1.18;
}

.features-work {
  font-size: 14px;
  line-height: 1.71;
}
.contakt-bar {
  color: #757575;
}
